@media (min-width: 375px) {
    .about-section{
        height: 340vw;
    }
}

@media (min-width: 425px) {
    .about-head{
        padding-bottom: 2rem;
    }
    
}

@media (min-width: 485px){
    .about-section{
        height: 270vw;
    }
}

@media (min-width: 580px){
    .about-section{
        height: 240vw;
    }
}

@media (min-width: 720px){
    .about-section{
        height: 200vw;
    }
}

@media (min-width: 768px) {
    .about-image{
        margin-right: 5vw;
        margin-left: 5vw;
    }
    .about-section{
        height: 170vw;
    }
}
@media (min-width: 1024px) {
    .about-image{
        margin-right: 10vw;
        margin-left: 10vw;
    }
    .about-section{
        height: 135vw;
    }
    .about-p{
        font-size: 1.15em;
    }
}

@media (min-width: 1440px) {
    .about-head{
        padding-bottom: 2rem;
    }
    .about-section{
        height: 110vw;
    }
    .about-p{
        font-size: 1.3em;
    }
}

@media (min-width: 1920px) {
    .about-section{
        height: 90vw;
    }
    .about-image{
        margin-right: 20vw;
        margin-left: 20vw;
    }
}
@media (min-width: 2560px) {
    .about-head{
        font-size: 7rem;
    }
    .about-image{
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: -13vh;
        top: 30%;
    }
    .abt-img{
        border-radius: 1.375rem;
    }
    .about-section{
        height: 110vw;
    }
    .about-p{
        font-size: 2em;
    }
}
