.product{
    height: 100vh;
}
.prod{
    cursor: pointer;
}
#product-4{
    margin-top: 5vh;
}
.ov-img{
    visibility: hidden;
}

.product-btn{
    --color-bg: #fee5ca;
    --color-bg-hover: #fef2e4;
    --color-contrast: #b00e2f;
    --color-slight-contrast: #f9e5e9;
    --color-dark: #000;
    --color-text: #b00e2f;
    --color-placeholder: #b00e2f;
    --color-light: #fff;
    --color-overlay: rgb(254 229 202/75%);
    --color-line: #e8e8e8;
    --header-transition: 0.5s;
    --button-stroke-size: 3rem;
    --button-stroke-bg: var(--color-bg);
    --button-stroke-stroke: var(--color-contrast);
    --button-stroke-stroke-hover: var(--button-stroke-stroke);
    --button-stroke-plane: var(--button-stroke-stroke);
    --button-stroke-clip: var(--button-stroke-stroke);
    --button-stroke-text: var(--button-stroke-stroke);
    --button-stroke-text-hover: var(--color-light);
    --button-circle-color: var(--color-contrast);
    --button-circle-bg: var(--color-bg);
    --button-circle-text: var(--color-light);
    --button-goto-inside-size: 10.875rem;
    --button-goto-color: var(--color-contrast);
    --button-goto-hover-color: var(--color-light);
    --wrap: 1.25rem;
    --header-height: 5rem;
    --button-circle-size: 7.5rem;
    --button-goto-size: 5.875rem;
    --vw: 3.2px;
    --vh: 8px;
    --font-size: 15px;
    --footer-radius: 28.125px;
    --padding-bottom: 0.1px;
    --gap: 0.25rem;
    --border-top-left-radius: 1;
    --border-top-right-radius: 1;
    --border-bottom-left-radius: 1;
    --border-bottom-right-radius: 1;
    --border-radius: 1.25rem;
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    font-family: HelveticaNeueCyr;
    flex-shrink: 0;
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 4.125rem;
    height: 4.125rem;
    background-color: var(--color-contrast);
    border-radius: 50%;
    transition: opacity .35s;
    transition-delay: 0s;
    transition-timing-function: ease;
    outline: none;
    background-image: url('../../public/prd-bag.webp');
    background-repeat: no-repeat;
    background-size: 1.25rem auto;
    background-position: 50%;
}

.prod-1-img{
    background-size: cover;
}

/*------------------- Media Queries -------------------*/

@media (min-width: 375px){

    .pop-left{
        width: 75%;
    }
    .pop-right{
        width: 75%;
    }
}
@media (min-width: 425px){
    .pop-left{
        width: 70%;
    }
    .pop-right{
        width: 70%;
    }
    .cat-head{
        font-size: 2rem;
        line-height: 0.6;
    }
}

@media (min-width: 576px){
    .pop-left{
        width: 55%;
    }
    .pop-right{
        width: 55%;
    }
}

@media (min-width: 768px) {
    .pop-left{
        width: 35%;
        transform: rotate(25deg);
    }
    .pop-right{
        width: 35%;
        transform: rotate(-25deg);
    }
    .cat-head{
        font-size: 3em;
    }
    .catalog-section{
        height: 420vh;
    }
}

@media (min-width: 900px){
    .products1-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.75rem;
    }
        .catalog-section{
        height: 320vh;
    }
}

@media (min-width: 1024px) {
    .pop-head{
        h2{
            font-size: 1.5em;
        }
    }
    .pop-left{
        width: 25%;
        transform: rotate(30deg) translateX(30px);
    }
    .pop-right{
        width: 25%;
        transform: rotate(-30deg) translateX(-30px);
    }
    .cat-head{
        font-size: 3em;
    }
    .catalog-section{
        height: 300vh;
    }
}

@media (min-width: 1440px) {
    .pop-left{
        width: 20%;
        transform: rotate(30deg) translateX(40px);
    }
    .pop-right{
        width: 20%;
        transform: rotate(-30deg) translateX(-40px);
    }
    .pop-head{
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 2em;
        }
    }
}


@media (min-width: 2560px) {
    .pop-left{
        width: 20%;
        transform: rotate(30deg) translateX(60px);
    }
    .pop-right{
        width: 20%;
        transform: rotate(-30deg) translateX(-60px);
    }
    .pop-head{
        h1{
            font-size: 6em;
            margin-top: 3vh;
        }
        h2{
            font-size: 4em;
             padding-top: 10vh;
        }
    }
    .cat-head{
        font-size: 6em;
    }
    .catalog-section{
        height: 320vh;
    }
}