@media (min-width: 425px){
    .footer-div{
        padding-bottom: 6.5rem;
    }
}

@media (min-width: 1920px){
    .footer-section{
    .footer-div{
        padding-top: 3.5rem;
    }
    }
}
@media (min-width: 2560px){
    .footer-section{
        p{
            font-size: 2em;
        }
        ul{
            font-size: 2em;
        }
        Image{
            scale: 1.2;
        }
    }

    .footer-div{
        Image{
            scale: 1.3;
        }
    }
}