.hero-section{
    height: 130rem;
}
.text-move{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.span-1{
    font-size: clamp(4rem, 1.7143rem + 9.4286vw, 20rem);
}
.span-2{
    font-size: clamp(2rem, 0.8571rem + 4.7143vw, 10rem);
}
.span-3{
    font-size: clamp(4rem, 1.7143rem + 9.4286vw, 20rem);
}

.bg-vid{
    visibility: hidden;
}
.special{
    visibility: hidden;
    transform: translate(0,115px);
    transition: transform .5s;
}

/*------------------- Marquee styling -----------------*/

.marq{
    visibility:hidden;
    transform: translate(0,1000px)
}

.marquee {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-200px) translateX(-5px);
  }

.marquee-3 {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-25px) translateX(-5px);
  }

.marquee-2 {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 13vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    background-color: #b80c09;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-125px) translateX(-5px);
    -webkit-text-stroke: 1.5px white;
    text-shadow: 1.5px white;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
  }
  
  
  .marquee:hover {
    -webkit-text-stroke: 1.5px #b80c09;
      text-shadow: 1.5px #b80c09;
      -webkit-text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  .marquee-2:hover {
    -webkit-text-stroke: initial;
      text-shadow:initial;
      -webkit-text-fill-color: initial;
      color: initial;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  .marquee-3:hover {
    -webkit-text-stroke: 1.5px #b80c09;
      text-shadow: 1.5px #b80c09;
      -webkit-text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    min-width: 100%;
    animation: scroll 15s linear infinite reverse;
  }

  .marquee__group-2 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    min-width: 100%;
    animation: scroll 15s linear infinite;
  }
  
  .marquee__group span {
    color: #b80c09;
    font-size: 2.5em;
    font-weight: 800;
    white-space: nowrap;
    font-family: var(--bulleto), sans-serif !important;
    /*text-transform: uppercase;*/
    
  }

  .marquee__group2 span {
    color: white;
    font-size: 2.5em;
    font-weight: 800;
    white-space: nowrap;
    font-family: var(--bulleto), sans-serif !important;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 0em));
    }
  }

/*------------------- Media Queries -------------------*/

@media (max-width: 425px) {
    .sm-dev {
        display: none;
    }
}

@media (max-width: 768px) {
    .md-dev {
        display: none;
    }
}

@media (min-width: 426px) {
    .hero-p{
        font-size: .5em;
    }
    .span-2{
        padding-left: 0.5em;
    }
}

@media (min-width: 768px) {

    .marquee__group span {
        color: #b80c09;
        font-size: 5vw;    
      }
      .marquee__group2 span {
        color: white;
        font-size: 5vw;
      }
}

@media (min-width: 1200px){
    .upper-span{
        margin-bottom: -15px;
    }
}


@media screen and (min-width: 1200px) {
    .marquee{
        transform: rotate(-5deg) translateY(-220px) translateX(-5px);
    }   
    .marquee-3{
        transform: rotate(-5deg) translateY(0) translateX(-5px);
    }   
}

