#details{
    visibility: hidden;
    transform: translate(0,300px);
}
.main{
    visibility: hidden;
    transform: translate(300px,-300px);
}

.hero-bg-vid{
    visibility: hidden;
    transform: translate(0,-700px);
}

.char{
    visibility: hidden;
    transform: translate(0,300px);
}
.span-container{
    visibility: hidden;
    transform: translate(0,300px);
}

.hero-p{
    font-family: 'Poppins', sans-serif;
}

/*------------------- Marquee styling -----------------*/

.marq{
    visibility:hidden;
    transform: translate(0,1000px)
}

.marquee {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-200px) translateX(-5px);
  }

.marquee-3 {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-25px) translateX(-5px);
  }

.marquee-2 {
    display: flex;
    position: absolute;
    width: 110%;
    z-index: -90;
    overflow: hidden;
    height: 13vh;
    user-select: none;
    gap: 0em;
    padding-top: 1rem;
    background-color: #b80c09;
    padding-bottom: 1rem;
    transform: rotate(-5deg) translateY(-125px) translateX(-5px);
    -webkit-text-stroke: 1.5px #fff;
    text-stroke: 1.5px #fff;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
  }
  
  
  .marquee:hover {
    -webkit-text-stroke: 1.5px #fff;
      text-stroke: 1.5px #fff;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  .marquee-2:hover {
    -webkit-text-stroke: initial;
      text-stroke:initial;
      -webkit-text-fill-color: initial;
      text-fill-color: initial;
      color: initial;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  .marquee-3:hover {
    -webkit-text-stroke: 1.5px #fff;
      text-stroke: 1.5px #fff;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: transparent;
      transition: all 0.5s ease;
      -webkit-font-smoothing: antialiased;
      /*-moz-osx-font-smoothing: grayscale;*/
  
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    min-width: 100%;
    animation: scroll 15s linear infinite reverse;
  }

  .marquee__group-2 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0em;
    min-width: 100%;
    animation: scroll 15s linear infinite;
  }
  
  .marquee__group span {
    color: white;
    font-size: 5vw;
    font-weight: 800;
    white-space: nowrap;
    font-family: var(--bulleto), sans-serif !important;
    /*text-transform: uppercase;*/
    
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 0em));
    }
  }

/*------------------- Media Queries -------------------*/

@media (min-width: 425px) {

    .hero-p{
        font-size: .45em;
    }
    .hero-content{
        top: 13vh;
    }

}

@media (max-width: 425px) {

    .sm-dev {
        display: none;
    }
}

@media (max-width: 768px) {

    .md-dev {
        display: none;
    }
}

@media (min-width: 426px) {
    .hero-p{
        font-size: .5em;
    }
}

@media only screen and (min-width: 712px) and (max-width: 767px) {
	.span-container{
        width: 70vw;
        padding-left: 13vh;
    }
}
@media only screen and (min-width: 530px) and (max-width: 711px) {
	.span-container{
        width: 65vw;
    }
}

@media (min-width: 768px) {

    .hero-content{
        display: flex;
        flex-direction: row;
        flex:auto;
        height: 80vh;
    }
    .hero-p{
        width: 110%;
        height: 80vh;
        padding-left: 5px;
        margin-top: 10vh;
        font-size: initial;
    }
    .span-container{
        flex-basis: 68vw;
        margin-top: 15vh;
        font-size: larger;
        margin-left: -6vw;
    }
    .main{
        display: block;
    }
}

@media (min-width: 1024px) {
    .hero-content{
        top: 15vh;
        gap: 0vw;
        height: auto;
    }
    .hero-p{
        font-size: .45em;
        width: 90%;
        margin-top: 9vh;
        height: 100vh;
    }

    #details{
        width: 38vw;
    }

    .span-container{
        flex-basis: 60vw;
        font-size: 1.4em;
        width: auto;
        margin-top: 5vw;
    }

    .main{
        margin-top: 8vh;
        margin-left: 5vw;
    }
    .button{
        font-size: 2vh;
        padding: 1vh 2vh;
    }

}

@media (min-width: 1240px) {
    .span-container{
        margin-top: 15vh;
    }
}

@media (min-width: 1440px) {
    .hero-content{
        top: 20vh;
        gap: 0vw;
    }
    .hero-p{
        font-size: .6em;
        width: 90%;
        margin-top: 8vh;
    }

    .span-container{
        flex-basis: 60vw;
        font-size: 1.7em;
        margin-top: 1em;
    }

    .main{
        margin-top: 5vh;
        margin-left: 7vw;
    }
    .button{
        font-size: 0.7em;
        padding: 1vh 2vh;
    }
}
@media (min-width: 2014px) {
    .hero-content{
        top: 20vh;
        gap: 0vw;
    }
    .hero-p{
        font-size: .8em;
        width: 90%;
        margin-top: 8vh;
    }

    .span-container{
        flex-basis: 60vw;
        font-size: 2em;
        margin-top: 1.7em;
        width: 50vw;
    }

    .main{
        margin-top: 11vh;
        margin-left: 4vw;
    }
}

@media (min-width: 2560px) {
    .hero-content{
        top: 22vh;
        margin-left: -3vw;
    }
    .hero-p{
        font-size: 1.1em;
        width: fit-content;
        margin-top: 5vh;
    }

    .span-container{
        flex-basis: 65vw;
        font-size: 3em;
        margin-top: 7vh;
        margin-left: 0.1vw;
    }

    .main{
        margin-top: 10vh;
        margin-left: 10vw;
    }
    .button{
        font-size: 0.70em;
        padding: 2vh 3vh;
    }
}
