nav{
    color: white;
}


.logo:hover{
    transition: cubic-bezier(0, -0.55, 0, 3.4);
    transition-duration: 1.5s;
    scale: 115%;
}

/*nav bar buttons animation*/

.button {
    &.alternative {
        --color-hover: #8a0200;
        --background: #b80c09;
        --hover-back: #be4341;
        --hover-front: #F6F8FF;
    }
}

.button {
    --color: #fff;
    --color-hover: var(--color);
    --background: #2B3044;
    --background-hover: var(--background);
    --hover-back: #b80c09;
    --hover-front: #5C86FF;
    padding: 0.5vh 1vh;
    border-radius: 3vh;
    line-height: 24px;
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    color: var(--c, var(--color));
    background: var(--b, var(--background));
    transition: color .2s linear var(--c-d, .2s), background .3s linear var(--b-d, .2s);
    &:not(.simple) {
        &:before,
        &:after {
            content: '';
            position: absolute;
            background: var(--pb, var(--hover-back));
            top: 0;
            left: 0;
            right: 0;
            height: 200%;
            border-radius: var(--br, 40%);
            transform: translateY(var(--y, 50%));
            transition: transform var(--d, .4s) ease-in var(--d-d, 0s), border-radius .5s ease var(--br-d, .08s);

        }
        &:after {
            --pb: var(--hover-front);
            --d: .44s;
        }
    }
    div {
        z-index: 1;
        position: relative;
        display: flex;
        span {
            display: block;
            backface-visibility: hidden;
            transform: translateZ(0);
            animation: var(--name, none) .7s linear forwards .18s;
        }
    }
    &.in {
        --name: move;
        &:not(.out) {
            --c: var(--color-hover);
            --b: var(--background-hover);
            &:before,
            &:after {
                --y: 0;
                --br: 5%;
            }
            &:after {
                --br: 10%;
                --d-d: .02s;
            }
        }
        &.out {
            --name: move-out;
            &:before {
                --d-d: .06s;
            }
        }
    }
}

@keyframes move {
    30%,
    36% {
        transform: translateY(calc(-6px * var(--move))) translateZ(0) rotate(calc(-13deg * var(--rotate) * var(--part)));
    }
    50% {
        transform: translateY(calc(3px * var(--move))) translateZ(0) rotate(calc(6deg * var(--rotate) * var(--part)));
    }
    70% {
        transform: translateY(calc(-2px * var(--move))) translateZ(0) rotate(calc(-3deg * var(--rotate) * var(--part)));
    }
}

@keyframes move-out {
    30%,
    36% {
        transform: translateY(calc(6px * var(--move))) translateZ(0) rotate(calc(13deg * var(--rotate) * var(--part)));
    }
    50% {
        transform: translateY(calc(-3px * var(--move))) translateZ(0) rotate(calc(-6deg * var(--rotate) * var(--part)));
    }
    70% {
        transform: translateY(calc(2px * var(--move))) translateZ(0) rotate(calc(3deg * var(--rotate) * var(--part)));
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

#list-image {
    display: none;
}

/*------------------- Media Queries -------------------*/

@media (max-width: 425px) {

    .sm-dev {
        display: none;
    }
}

@media (max-width: 768px) {

    .md-dev {
        display: none;
    }

}
@media (min-width: 768px) {
    .hero-head-img{
        height: 5vh;
    }
}



@media (min-width: 1024px) {
    .button{
        font-size: 2vh;
        padding: 1vh 2vh;
    }

}

@media (min-width: 1440px) {
    .button{
        font-size: 0.7em;
        padding: 1vh 2vh;
    }
}

@media (min-width: 2560px) {
    .button{
        font-size: 0.9em;
        padding: 2vh 3vh;
    }
}
